<html><head>
<title>NNE Network Status - Detail</title></head><body class=" hasGoogleVoiceExt">
This report <a href="./NNE Network Status - Detail_files/NNE Network Status - Detail.html"><b>https://helpdesk.nnenews.com/status/details.html</b></a> generated starting at Tue Sep 24 14:25:02 2013. This report is updated every five minutes.

<p>See <a href="https://helpdesk.nnenews.com/projects/nne/wiki/Pinglogger">Pinglogger wiki entry</a> in NNE helpdesk for documentation (requires login).
</p><p>For historic access to this report, see <a href="https://helpdesk.nnenews.com/status/2013/9/24/14.html">https://helpdesk.nnenews.com/status/2013/9/24/14.html</a>

</p>

[% FOREACH site IN sites %]
    <hr><div style="[% site.style %]">[% site.description %]</div>
    <br>Overall packet loss: <b>
    [% FILTER format(%.2f%%) %]
        [% site.plosspercent %]
    [% END %]
    </b>
    <br>Overall jitter (smaller is better): 
    [% FILTER format(%.2f%%) %]
        [% site.jitter %]
    [% END %]
    <br>Tests completed in the last hour (60 is nominal. 59 or 61 is
    acceptable time quantization error, outside of that is a problem with
    reporting station): [% site.pingtests_considered %]
    <br>Target: [% site.target %]
    <br>Total packet sent: [% site.ptrans %]
    <br>Total packets received: [% site.precv %]
    <br>Average ping time (ms): [% site.rttavg %]
    <br>Fastest ping time (ms): [% site.rttmin %]
    <br>netlength (km): 
    [% site.netlength %]
    <br><div style="margin: 10px"><table border="1" style="border:none;border-collapse:collapse"><tbody>
    <tr align="center"><td>Minutes Ago</td>
    [% FOREACH minor IN site.minors %] 
        <td>[% minor.age %]</td>
    [% END %]
    </tr>
    
    [% IF site.ploss > 0 %]
        <tr align="center"><td>Loss<br>[Age range in s]</td>
        [% FOREACH minor IN site.minors %]
            <td>([% minor.ptrans %] - [% minor.precv %]) / [% minor.ptrans %] * 100 = 
            [% FILTER format(%.2f%%) %]
                [% minor.plosspercent %]
            [% END %]
            <br> [% minor.ploss %] lost packets <br> [
            [% minor.startage %] - [% minor.endage %] ] </td>
        [% END %]
        </tr>
    [% END %]
    
    <tr align="center"><td>Jitter/Std Dev</td>
    [% FOREACH minor IN site.minors %]
        <td>
        [% FILTER format(%.2f%%) %]
            [% minor.jitter %]
        [% END %]
        </td>
    [% END %]
    </tr>
    
    [% IF site.ploss > 0 %]
        <tr align="center"><td>Loss<br>[Age range in s]</td>
        [% FOREACH major IN site.majors %]
            <td colspan="[% major.factor %]">([% major.ptrans %] - 
            [% major.precv %]) / [% major.ptrans %] * 100 = 
            [% FILTER format(%.2f%%) %]
                [% major.plosspercent %]
            [% END %]
            <br> 
            [% major.ploss %] lost packets <br> [ [% major.startage %] - 
            [% major.endage %] ]</td>
        [% END %]
        </tr>
    [% END %]
    
    <tr align="center"><td>Jitter/Std Dev</td>
    [% FOREACH major IN site.majors %]
        <td colspan="[% major.factor %]">
        [% FILTER format(%.2f%%) %]
            [% major.jitter %]
        [% END %]
        </td>
    [% END %]
    </tr>
    
    [% IF site.ploss > 0 %]
        <tr align="center"><td>Loss</td><td colspan="12">
        [% FILTER format(%.2f%%) %]
            [% site.plosspercent %]
        [% END %]
        <br>[% site.ploss %] lost packets</td></tr>
    [% END %]
    
    
    <tr align="center"><td>Jitter/Std Dev</td><td colspan="12">
    [% site.jitter %]</td></tr></tbody></table></div>
    <br>Data files that go into this report can be found in 
    [% site.datadir %] with a last modified time between [% site.firsttime %]
    and [% site.lasttime %] (localtime)
[% END %]

<hr>Color scale: <table style="max-width:50%"><tbody><tr><th>Color</th><th>Meaning</th><th>Impact</th></tr>
<tr><td><div style="color:green">Green</div></td><td>0% packet loss</td><td>Network working smoothly</td></tr>
<tr><td><div style="color:orange">Orange</div></td><td>More than 0% and less than 1% packet loss</td><td>Possible some slight lag</td></tr>
<tr><td><div style="color:red">Red</div></td><td>More than 1% and less than 100% packet loss</td><td>Likely this will create significant lag</td></tr>
<tr><td><div style="color:black">Black</div></td><td>100% packet loss - could be site down or complete network disconnect or network blocked</td><td>If the site is still reachable for normal use, then this indicates a blocking or configuration error.</td></tr>
</tbody></table>
<hr>Note about netlength: this is half of the distance light could travel in a vacuum during the fastest ping time. Since the packets travel via a mix of copper as electrical impules and fiber as light pulses for the majority of their travel distance, thier flighttime will always be slower than speed of light through a vacuum. Additionally, routing and switching equipment will always impose a significant overhead, so the netlength is only a very crude measurement.For reference, Google Maps shows a driving distance from CM to Chandler of 2633miles or 4237km, and an estimate of travel time at highway speeds of 41hrs.
</body></html>
