 <html>
    <head> 
        <title>NNE Network Status</title>
    </head>
    <body>
	    This report <a href="https://helpdesk.nnenews.com/status/"><b>https://helpdesk.nnenews.com/status/</b></a> generated starting at <TMPL_VAR reporttime>. This report is updated every five minutes.
	    <table border="1" style="border:none;border-collapse:collapse">
	    <TMPL_LOOP simplesummary>
	    <tr>
		    <td><TMPL_VAR displaydesc>
		    <td>Loss: <b><TMPL_VAR loss>%</b>
		    <td>Jitter: <TMPL_VAR datumstddev>
		    </tr>
	    </TMPL_LOOP simplesummary>
	    </table><p>
	    <TMPL_LOOP simplereports>
	       	    
	       	    <table border="1" style="border:none;border-collapse:collapse">
			<tr>
		    }
		    <td style="vertical-align: top">
		    <!-- <TMPL_VAR key> -->
		    <TMPL_LOOP simpledatums>
		    <TMPL_VAR displaydesc> 
		    <br>Overall packet loss: <b><TMPL_VAR overall_ploss>%</b>
		    <br>Overall jitter (smaller is better): <TMPL_VAR stddev>
		    <br>Average ping time (ms): <TMPL_VAR avgping>
		    <br>Tests completed in the last hour (between 59-61 is ok, outside of that is a problem): <TMPL_VAR testscompleted>
		    <TMPL_LOOP breakdowntable>
		    <br><div style="margin: 10px">
	        <table border="1" style="border:none;border-collapse:collapse"><tr align="center"><td>Minutes Ago
	        <TMPL_LOOP minutesago>
	        <td><TMPL_VAR minutes>
	        </TMPL_LOOP minutesago>
	        </tr>
	        <tr align="center"><td>Loss as %<td>
	        <TMPL_LOOP minorlist>
	        <td><TMPL_VAR minorloss>
	        </TMPL_LOOP minorlist>
	        </tr>
	        <tr align="center"><td>Jitter/Std Dev<td>
	        <TMPL_LOOP minordevlist>
	        <td><TMPL_VAR minordev>
	        </TMPL_LOOP minordevlist>
	        </tr>
	        <tr align="center"><td>Loss as %<td colspan="3">
	        <TMPL_LOOP majorlist>
	        <td><TMPL_VAR majorloss>
	        </TMPL_LOOP majorlist>
	        </tr>
	        <tr align="center"><td>Jitter/Std Dev<td colspan="3">
	        <TMPL_LOOP majordevlist>
	        <td><TMPL_VAR majordev>
	        </TMPL_LOOP majordevlist>
	        </tr>
	        </table>For all numbers, smaller is better</div>
		    </TMPL_LOOP breakdowntable>
		    </TMPL_LOOP simpledatums>
		    </td>
		    </tr>
			
    </table>
	    </TMPL_LOOP simplereports>
	    <hr>Color scale: <table style="max-width:50%"><tr><th>Color<th>Meaning<th>Impact</tr>
	    <tr><td><div style="color:green">Green</div><td>0% packet loss<td>Network working smoothly</tr>
	    <tr><td><div style="color:orange">Orange</div><td>More than 0% and less than 1% packet loss<td>Possible some slight lag</tr>
	    <tr><td><div style="color:red">Red</div><td>More than 1% and less than 100% packet loss<td>Likely this will create significant lag</tr>
	    <tr><td><div style="color:black">Black</div><td>100% packet loss - could be site down or complete network disconnect or network blocked<td>If the site is still reachable for normal use, then this indicates a blocking or configuration error.</tr>
	    </table>
    	<a href="https://helpdesk.nnenews.com/status/details.html">More technical details</a> are available if needed.
    </body>
</html>
